:root {
	--cell-max-size: 65px;
}

.grid {
	width: 100%;
	margin: 2rem auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	justify-items: center;
	align-items: center;
	gap: 1rem;
	height: 100%;
}

.grid_item {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	height: 100%;
	width: 100%;
	max-width: var(--cell-max-size);
	max-height: var(--cell-max-size);
	border: 1px solid var(--secondary);
	cursor: pointer;
}

.grid_item > img {
	width: 12vw;
	max-width: var(--cell-max-size);
}

.grid_item:hover {
	border: 1px solid var(--active);
}


.blue_shrine {
	background-color: var(--blue_shrine-background);
}


.red_shrine {
	background-color: var(--red_shrine-background);
}


.selected {
	background-color: var(--active);
	color: var(--main);
}

.valid_cell {
	border: 1px solid var(--valid)!important;
}