.card {
    text-align: center;
    cursor: pointer;
    background: var(--main-highlight);
    color: var(--text);
    padding: .45em .65em;
    display: flex;
    gap: .55em;
    justify-content: space-evenly;
    align-items: center;

}


.card__highlight {
    background: var(--highlight);
}

.card_row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background: transparent;
}

.card_cell {
    display: flex;
    height: 15px;
    width: 15px;
}
